html, body {
    height: 100%;
    box-sizing:border-box;
    margin: 0;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.page-one {
    height: 100vh;
    border: 5px solid;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    font-weight: bold;
    font-size: 3em;
    flex: 2;

}

.sentence {
    font-weight: bold;
    font-size: 2em;
    flex: 2;

}

.input, .caffulate-btn {
    font-weight: bold;
    font-size: 1.5em;
    flex: 1;


}

a {

}