html, body {
    height: 100%;
    box-sizing:border-box;
    margin: 0;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* .page-two {
 
} */

.caffeine-blocks {
    height: 100vh;
    display: center;
    border: 5px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 5px solid;
    display: flex;
}

h2 {
    flex:1; 
}

#block-red {
    flex:1;
    font-weight: bold;
}

#block-yellow {
    flex:1;
    font-weight: bold;
}


#block-green {
    flex:1;
    font-weight: bold;
}